/* Dark theme. */
/* @import "~/.cache/wal/colors-rofi-dark" */
// @import "~/.config/rofi/themes/catpuccin-mocha"
@import "~/.config/rofi/themes/kanagawa.rasi"

configuration {
  display-drun: "Applications:  ";
  display-run: "Programs: ";
  font: "Ubuntu 14";
  modi: "run,drun";
  show-icons: true;
  icon-theme: "Papirus";
}

window {
  width: 45%;
  border: 0;
  background-color: @base;
}

mainbox {
  children: [inputbar, listview];
  background-color: transparent;
  border: 0;
  padding: 0;
}

inputbar {
  children: [prompt, entry];
  background-color: transparent;
}

prompt {
  background-color: transparent;
  text-color: @orange;
}

entry {
  placeholder: "Search";
  placeholder-color: @subtext0;
  background-color: transparent;
  text-color: @text;
}

listview {
  background-color: transparent;
  columns: 1;
  lines: 10;
  border: 0px 0px 0px;
  border-color: transparent;
  spacing: 5px;
  scrollbar: false;
  padding: 20px 0px 0px;
}

element {
  padding: 8 12;
  background-color: transparent;
}

element-text {
  background-color: transparent;
  text-color: @subtext0;
}

element-text selected {
  text-color: @text;
}

element-icon {
  size: 22;
  padding: 0 10 0 0;
  background-color: transparent;
}

element.normal.normal {
  background-color: transparent;
}
element.normal.urgent {
  background-color: transparent;
}
element.normal.active {
  background-color: transparent;
}
element.selected.normal {
  background-color: @surface0;
}
element.selected.urgent {
  background-color: @surface2;
}
element.selected.active {
  background-color: @surface2;
}
element.alternate.normal {
  background-color: transparent;
}
element.alternate.urgent {
  background-color: transparent;
}
element.alternate.active {
  background-color: transparent;
}
